*~
old/
*.zip
SDK LibreJS source/
*#

# dependencies
node_modules/
webextension/test/lib/

# artifacts
/compile_temp
/build_temp
/build
librejs.xpi
bundle.js
test_bundle.js

npm-debug.log

package-lock.json
.eslintcache
